server:
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

spring:
  #  data:
  #    redis:
  #      host: localhost
  #      port: 6379
  web:
    resources:
      static-locations: classpath:/static/
  #  jpa:
  #    hibernate:
  #      ddl-auto: update # hibernate?? ??
  #    #      naming:
  #    #        physical-strategy: com.spm.common.strategy.CamelToSnakeUpperStrategy
  #    show-sql: true  # SQL ?? ?? ??
  #    generate-ddl: false # ? ??? ??? ???? ??
  #    open-in-view: false # HTTP ??? ??? ??? ??? ?????? ??? ????
  #    properties:
  #      hibernate:
  #        format_sql: true
  devtools:
    restart:
      enabled: true
    livereload:
      enabled: true
  thymeleaf:
    cache: false
    check-template-location: true
    prefix: classpath:/templates/
    suffix: .html
    encoding: UTF-8
