<th:block th:fragment="commonHeader">
	<script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
	<link rel="stylesheet" th:href="@{/css/common.css}">
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<link th:href="@{/css/tailwind-out.css}" rel="stylesheet" />
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!--	<script th:src='@{/js/common.js}'></script>-->
</th:block>
